/* Google fonts to display the font family */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&family=Noto+Sans:wght@300&family=Pangolin&family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(13, 13, 203, 1) 100%, rgba(94, 94, 94, 1) 100%, rgba(0, 212, 255, 1) 100%);

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.stopwatch {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px 24px;
    border-radius: 10px;

}

.timerDisplay {
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
}

.buttons {
    margin-top: 20px;
}

.btn {
    font-size: 15px;
    background: none;
    border: none;
    color: #fff;
    background-color: var(--clr);
    padding: 12px 24px;
    margin-inline: 12px;
    border-radius: 8px;
    cursor: pointer;
}